@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    max-width: 1920px;
}

body {
    background-color: #f5f5f5;
}

/* Shared style */
.btn-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    margin-left: 8px;
}

.btn-primary:hover {
    background-color: rgb(10, 63, 38)
}

/* Navbar Style Start from here */
.logo {
    font-family: fira sans;
    font-weight: bold;
    font-size: 32px;
    margin-left: -350px;
}

.na-btn {
    margin-right: -350px;
}

.nav-btn {
    color: #006A50;
    background-color: aliceblue;
    border: 1px solid #006A50;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 40px auto 40px auto;
}


/*  Hero Section start from here */

.banner-back {
    display: flex;
    background-color: rgb(198, 228, 214);
    max-width: 1300px;
    height: 60vh;
    margin: 0px auto 50px auto;
    border-radius: 30px;
    padding: 80px 100px;
}

.banner-back {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-subtitle {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    margin: 10px;
}

.banner-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
    margin: 10px;
}

.left-side {
    margin: 30px;
    align-items: center;
    margin-left: -100px;
}

.right-side {
    margin: 30px;
    align-items: center;
    margin-right: -100px;
}

.banner {
    margin-top: 50px;
}


/*  Hero Section End From here */

/* Piller section start from here */
.piller{
    max-width: 1500px;
    margin: 80px auto;
}
.piller-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin: 20px auto;
}
.p-box{
    max-width: 300px;
    border: 1px solid  rgba(14, 14, 14, 0.15);
    background-color: #ffffff;
    padding: 30px 30px;
    border-radius: 20px; 
    margin: 20px 20px 20px 0;
}
.pill-title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    padding: 10px;
}
.pill-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    padding: 10px;
}
.pill-box-container{
    display: flex;
}

/* Piller section end from here */

/* quote section start from here */
#quot{
    max-width: 1280px;
    margin: 80px auto;
    background-color: #ffffff;
    padding: 48px 24px;
    border-radius: 20px;
    position: relative;
}
.quot-img{
    position: absolute;
    width: 27.43px;
    height: 54.86px;
    left: 36.57px;
    top: 20px;
}
.quote-title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 12px;
    margin-bottom: 4px;
}
.quote-subtitle{
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.quot-description{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
/* quote section end from here */

/* option section style start from here */
table,tr, td,th{
    max-width: 1500px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-collapse: collapse;
    padding: 60px;
    text-align: center;
    justify-content: center;
}
th,td{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
th{
    background: rgb(198, 228, 214);
}
select{
    color: black;
    background: rgb(198, 228, 214);
    padding: 10px;
    font-family: Fira Sans;
    font-size: 15px;
    border-radius: 10px;
}
.opinion{
    max-width: 1280px;
    margin: 32px auto;
    background-color: #ffffff;
    padding: 32px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 140px;
    border-radius: 30px;
}
.option{
    max-width: 1500px;
    margin: 80px auto;
}
.option-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

/* option section style End from here */
/* Vision Section Start from here */

.vision-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

.vision-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    padding: 10px;
}

.vision-container {
    margin: 80px 205px;
}

.card-title {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin: 10px;
}

.card-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin: 10px;
}

.card {
    max-width: 350px;
    padding: 50px 36px 50px 36px;
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 30px;
}

.card2 {
    max-width: 350px;
    padding: 50px 36px 50px 36px;
    background-color: rgb(198, 228, 214);
    border-radius: 30px;
}

.card3 {
    max-width: 350px;
    padding: 50px 36px 50px 36px;
    background-color: rgb(247, 235, 207);
    border-radius: 30px;
}

.card-img {
    text-align: left;
}

.card-btn1 {
    color: rgb(255, 255, 255);
    background-color: rgb(84, 144, 245);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    margin-left: 8px;
}

.card-btn1:hover {
    background-color: rgb(2, 36, 49);
}

.card-btn2 {
    color: rgb(255, 255, 255);
    background-color: rgb(9, 161, 92);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    margin-left: 8px;
}

.card-btn2:hover {
    background-color: rgb(2, 49, 25);
}

.card-btn3 {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 194, 57);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    margin-left: 8px;
}

.card-btn3:hover {
    background-color: rgb(63, 52, 3);
}

.card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 24px;
}

/* Vision section end from here */

/* Recent news start form here */

.recent-title {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin: 10px;
}

.recent-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin: 10px;
    padding-top: 10px;
}

.recent-head {
    margin: 40px 180px;
}

.box-title {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 10px;
}

.rightbox {
    margin: 32px;
}

.box-date {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 10px;
}

.box-details {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 10px;
}

.box-img {
    padding: 10px;
}

.boximg {
    border-radius: 20px;
}

.box {
    display: flex;
    margin: 48px 180px;
    background-color: #ffffff;
    border-radius: 30px;
}

.box2 {
    display: flex;
}

/*  recent secton end from here */

/* Donate Section Start From here */


.donate-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}

.donate-details {
    max-width: 1100px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px auto;
}

.amount-container {
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
}

.amount-box {
    max-width: 240px;
    margin: 20px;
    padding: 40px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 10px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

.amount-box:hover {
    background-color: rgb(228, 214, 198);
}

.amount-box2 {
    max-width: 240px;
    margin: 20px;
    padding: 40px;
    background-color: rgb(198, 228, 214);
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 10px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

.amount-box2:hover {
    background-color: rgb(255, 255, 255);
}

.amount-box3 {
    max-width: 240px;
    margin: 20px;
    padding: 40px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 10px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

.amount-box3:hover {
    background-color: rgb(216, 198, 228);
}

.amount-box4 {
    max-width: 240px;
    margin: 20px;
    padding: 40px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 10px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

.amount-box4:hover {
    background-color: rgb(228, 198, 215);
}

.input1 {
    max-width: 800px;
    margin: 20px 40px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 0 40px 0px 40px;
    background: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px auto;
}

input {
    color: black;
    background: #ffffff;
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
    padding: 20px;
    outline: none;
}

.btn-donate {
    justify-content: center;
    margin: 10px auto;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    padding: 15px 15px;
    border-radius: 8px;
    margin-left: 8px;
}

.btn-d {
    text-align: center;
    margin: 25px auto;
}

.btn-donate:hover {
    background-color: rgb(10, 63, 38);
}

#donate {
    margin: 80px auto;
}

/* Donate Section End From Here */


/* sub news section start from here */

#sub-news {
    max-width: 1280px;
    margin: 0 auto 80px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
}

.sub-news-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}

.sub-news-description {
    margin: 10px auto;
    width: 622px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}

.sub-news-button {
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
}

.sub-btn {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
    gap: none;
    padding: 20px 36px;
    border-radius: 8px;
    margin-left: -8px;
}

.sub-btn:hover {
    background-color: rgb(10, 63, 38)
}
.sub-news-input{
    text-align: center;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    padding: 17px 40px;
}
.sub-new-container{
    padding: 80px 100px;
}
.sub-input{
    border-radius: 10px;
    width: 600px;
}
.sub-subline{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
}

/* sub news section End from here */

/* Footer Style start from here */
.footer-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    padding: 50px auto 31px auto;
    margin-bottom: 31px;
}
.footer-container{
    max-width: 1600px;
    margin: 0px auto;
}
hr{
    border: 1px solid rgba(14, 14, 14, 0.1);
}
.footer-img{
    background: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    word-spacing: 20px;

}
/* Footer Style End From Here */